<!doctype html>
<html>

<body>
    <form method="post" enctype="multipart/form-data">
        <label for="form-target">
            CSV file:
        </label>
        <input type="file" name="file" id="form-file">
        <br />
        <label for="form-file">
            Post to:
        </label>
        <input type="text" name="target" id="form-targe">
        <br />
        {% for m in middlewares %}
            <input type="checkbox" name="middlewares" id={{m}} value={{m}}>
            <label for={{m}}>{{m}}</label>
            <br />
        {% endfor %}
        <input type="submit" value="convert and send" />
    </form>
</body>

</html>